/* Hyperlink colors and behaviors */
a.topiclink {color: blue; text-decoration: underline;}
a.topiclink:visited {color: blue;}
a.topiclink:hover {color: blue; }
a.weblink {color: blue; text-decoration: underline;}
a.weblink:visited {color: blue;}
a.weblink:hover {color: blue; }
a.popuplink {color: blue; text-decoration: underline;}
a.popuplink:visited {color: blue;}
a.popuplink:hover {color: blue; }
a.filelink {color: blue; text-decoration: underline;}
a.filelink:visited {color: blue;}
a.filelink:hover {color: blue; }
a.scriptlink{color: blue; text-decoration: underline;}
a.scriptlink:visited {color: blue;}
a.scriptlink:hover {color: blue;}
a.inline-toggle {color: blue; text-decoration: underline;}
a.inline-toggle:visited {color: blue;}
a.inline-toggle:hover {color: blue; }
a.dropdown-toggle {color: blue; text-decoration: underline;}
a.dropdown-toggle:visited {color: blue;}
a.dropdown-toggle:hover {color: blue; }

/* Special tables for info boxes */
#callout-table, #overview-table {display:block; position:relative; top:0; left:0;}
#callout-icon {display:block; position:absolute; top:-11px; left:-11px;}
#callout-icon-flag {display:block; position:absolute; top:-11px; left:-8px;}
#callout-table a {text-decoration: none; color: blue;}
#callout-table a:visited {text-decoration: none; color: blue;}
#overview-table a {text-decoration: none; color: #000000;}
#overview-table a:visited {text-decoration: none; color: #000000;}
#callout-table a:hover, #overview-table a:hover {text-decoration: underline;}
