Sandia/** linguist-vendored=true
deploy/** linguist-vendored=true
samples/** linguist-vendored=true

# Autodetect text files
* text=auto

# ...Unless the name matches the following
# overriding patterns
deploy/runtime/defaults/*.txt text eol=lf

# Definitively text files 
*.txt text
*.c text
*.cpp text
*.h text
*.csv text
*.lk text
*.json text


# Ensure those won't be messed up with
*.jpg binary
*.data binary

