/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 10pt;
 font-family: 'Segoe UI';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_CHNote /* CH Note */
{
 text-decoration: underline;
}
span.f_CHUIElement /* CH UI Element */
{
 font-weight: bold;
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_Description /* Description */
{
}
span.f_Heading1 /* Heading1 */
{
 font-size: 18pt;
 color: #0072c6;
}
span.f_Heading2 /* Heading2 */
{
 font-size: 14pt;
 color: #0072c6;
}
span.f_ImageCaption /* Image Caption */
{
 font-weight: bold;
}
span.f_Item /* Item */
{
 font-weight: bold;
}
span.f_List /* List */
{
}
span.f_ListLast /* List Last */
{
}
span.f_ListNoNumber /* List No Number */
{
}
span.f_Notes /* Notes */
{
}
span.f_Step /* Step */
{
}
span.f_StepLast /* Step Last */
{
}
span.f_StepNoNumber /* Step No Number */
{
}
span.f_Text /* Text */
{
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
}
.p_Comment /* Comment */
{
}
.p_Description /* Description */
{
 margin: 3px 0px 6px 24px;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_Heading2 /* Heading2 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 border-color: #0072c6;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 0px 0px 0px 0px;
 margin: 12px 0px 6px 0px;
}
.p_ImageCaption /* Image Caption */
{
 text-align: center;
 margin: 6px 0px 6px 0px;
}
.p_Item /* Item */
{
}
.p_List /* List */
{
 text-indent: -24px;
 margin: 0px 0px 3px 48px;
}
.p_ListLast /* List Last */
{
 text-indent: -24px;
 margin: 0px 0px 6px 48px;
}
.p_ListNoNumber /* List No Number */
{
 text-indent: -24px;
 margin: 0px 0px 3px 72px;
}
.p_Notes /* Notes */
{
}
.p_Step /* Step */
{
 text-indent: -24px;
 margin: 3px 24px 3px 48px;
}
.p_StepLast /* Step Last */
{
 text-indent: -24px;
 margin: 3px 24px 6px 48px;
}
.p_StepNoNumber /* Step No Number */
{
 margin: 3px 0px 3px 48px;
}
.p_Text /* Text */
{
 margin: 0px 0px 6px 0px;
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
