########################################################################
# Check Boxes
########################################################################

style "CheckBox" = "defualt"
{
	engine "pixmap" 
	{
		#This is the image used to draw an unchecked box.
		image 
		{
			function = CHECK
			recolorable = TRUE
			shadow = OUT
			overlay_file = "c_box/c_box.png"
			overlay_stretch = FALSE
		}

		#This is the image used to draw a selected (checked) box.
		image 
		{
			function = CHECK
			recolorable = TRUE
			shadow = IN
			overlay_file = "c_box/c_box-pressed.png"
			overlay_stretch = FALSE
		}
	}
}

class "GtkCheckButton" style "CheckBox"
class "GtkCheckMenuItem" style "CheckBox"
