#################### MENUBAR ###################


style "menubar"		
{
  fg[NORMAL] = "#131416"
  text[NORMAL] = "#131416"
  fg[PRELIGHT] = "#FAFAFA"
  fg[ACTIVE] = "#FAFAFA"
  fg[INSENSITIVE] = "#FAFAFA"
  text[PRELIGHT] = "#FAFAFA"

xthickness			= 2
ythickness			= 3
	engine "pixmap"
	{
		image
		{
			function	= BOX
			state = NORMAL
			file		= "Menu-Menubar/menubar-black.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = ACTIVE
			file		= "Menu-Menubar/menubar-black.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = INSENSITIVE
			file		= "Menu-Menubar/menubar-black.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

  image
    {
      function			= BOX
      recolorable		= TRUE
			state = PRELIGHT
     file				= "Menu-Menubar/menubar-item.png"

      border			= { 10, 10, 10, 10 }
      stretch			= TRUE
    }

 	}
}
