########################################################################
# Notebook
########################################################################

style "notebook" = "default"
{
	engine "pixmap" 
	{
		image 
		{
			function = EXTENSION
			recolorable = TRUE
			state = ACTIVE
            file = "notebook/tab-bottom.png"
			border = {4, 4, 4, 4}
			stretch	= TRUE
			gap_side = TOP
		}

		image 
		{
			function = EXTENSION
			recolorable = TRUE
			state = ACTIVE
			file = "notebook/tab-top.png"
			border = {4, 4, 4, 4}
			stretch	= TRUE
			gap_side = BOTTOM
		}
    
		image 
		{
			function = EXTENSION
			recolorable = TRUE
			state = ACTIVE
			file = "notebook/tab-left.png"
			border = {8,8,8,8}
			stretch	= TRUE
			gap_side = RIGHT
		}
    
    		image 
		{
			function = EXTENSION
			recolorable = TRUE
			state = ACTIVE
			file = "notebook/tab-right.png"
			border = {4, 4, 4, 4}
			stretch	= TRUE
			gap_side = LEFT
		}
		
		image 
		{
			function = EXTENSION
			recolorable	= TRUE
			file = "notebook/tab-top-active.png"
			border = {8, 8, 8, 8}
			stretch = TRUE
			gap_side = BOTTOM
		}
    
		image 
		{
			function = EXTENSION
			recolorable	= TRUE
			file = "notebook/tab-bottom-active.png"
			border = {8, 8, 8, 8}
			stretch	= TRUE
			gap_side = TOP
		}
    
		image 
		{
			function = EXTENSION
			recolorable	= TRUE
			file = "notebook/tab-left-active.png"
			border = {8, 8, 8, 8}
			stretch = TRUE
			gap_side = RIGHT
		}
    
		image 
		{
			function = EXTENSION
			recolorable	= TRUE
			file = "notebook/tab-right-active.png"
			border = {8, 8, 8, 8}
			stretch	= TRUE
			gap_side = LEFT
		}

# How to draw boxes with a gap on one side (ie the page of a notebook)

		image 
		{
			function = BOX_GAP
			recolorable	= TRUE
			file = "notebook/notebook.png" 
			border = {8, 8, 8, 8}
			stretch	= TRUE
			gap_file = "notebook/null.png"
			gap_border = {0, 0, 0, 0}
			gap_start_file = "notebook/null.png"
			gap_start_border = {0, 0, 0, 0}
			gap_end_file = "notebook/null.png"
			gap_end_border = {0, 0, 0, 0}
			gap_side = TOP
		}
    
		image 
		{
			function = BOX_GAP
			recolorable	= TRUE
			file = "notebook/notebook.png"
			border = {8, 8, 8, 8}
			stretch	= TRUE
			gap_file = "notebook/null.png"
			gap_border = {0, 0, 0, 0}
			gap_start_file = "notebook/null.png"
			gap_start_border = {0, 0, 0, 0}
			gap_end_file = "notebook/null.png"
			gap_end_border = {0, 0, 0, 0}
			gap_side = BOTTOM
      }
    
		image 
		{
			function = BOX_GAP
			recolorable	= TRUE
			file = "notebook/notebook.png"
			border = {8, 8, 8, 8}
			stretch	= TRUE
			gap_file = "notebook/null.png"
			gap_border = {0, 0, 0, 0}
			gap_start_file = "notebook/null.png"
			gap_start_border = {0, 0, 0, 0}
			gap_end_file = "notebook/null.png"
			gap_end_border = {0, 0, 0, 0}
			gap_side = LEFT
      }
    
	image 
	{
		function = BOX_GAP
		recolorable	= TRUE
		file = "notebook/notebook.png" 
		border = {8, 8, 8, 8}
		stretch	= TRUE
		gap_file = "notebook/null.png"
		gap_border = {0, 0, 0, 0}
		gap_start_file = "notebook/null.png"
		gap_start_border = {0, 0, 0, 0}
		gap_end_file = "notebook/null.png"
		gap_end_border = {0, 0, 0, 0}
		gap_side = RIGHT
	}

# How to draw the box of a notebook when it isnt attached to a tab

		image 
		{
			function = BOX
			recolorable	= TRUE
			file = "notebook/notebook.png"
			border = {8, 8, 8, 8}
			stretch	= TRUE
      }
	}
}

class "GtkNotebook" style "notebook"
