########################################################################
# Progressbar
########################################################################

style "progressbar" = "default"
{
	fg[ACTIVE] = "#fff"
  	fg[INSENSITIVE] = "#fff"
  	fg[PRELIGHT] = "#fff"
  	fg[SELECTED] = "#fff"
	
	engine "pixmap"
	{
		image
		{
			function = BOX
			recolorable	= TRUE
			detail = "trough"
			file = "progressbar/trough-progressbar-horiz.png"
			border = {4, 4, 4, 4}
			stretch	= TRUE
			orientation	= HORIZONTAL
		}

		image
		{
			function = BOX
			recolorable	= TRUE
			detail = "bar"
			file = "progressbar/progressbar-horiz.png"
			border = {4, 4, 4, 4}
			stretch	= TRUE
			orientation	= HORIZONTAL
		}

		image
		{
			function = BOX
			recolorable	= TRUE
			detail = "trough"
			file = "progressbar/trough-progressbar-vert.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
			orientation	= VERTICAL
		}

		image
		{
			function = BOX
			recolorable	= TRUE
			detail = "bar"
			file = "progressbar/progressbar-vert.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
			orientation	= VERTICAL
		}
		
	}
}

class "GtkProgressBar" style "progressbar"
class "GtkTreeView" style "progressbar"
