########################################################################
# Scrollbar
########################################################################

style "scrollbar" 
{
	engine "pixmap" 
	{
        ### TROUGH
        image 
		{
            function = BOX
            recolorable = TRUE
            detail = "trough"
            file = "scrollbar/trough.png"
            border = {2, 2, 2, 2}
            stretch = TRUE
            orientation = VERTICAL
        }
        
        image 
		{
            function = BOX
            recolorable = TRUE
            detail = "trough"
            file = "scrollbar/trough.png"
            border = {2, 2, 2, 2}
            stretch = TRUE
            orientation = HORIZONTAL
        }
        
        ### ACTIVE
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_up_clicked.png"
            overlay_stretch = FALSE
            arrow_direction = UP
            state = ACTIVE
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_down_clicked.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
            state = ACTIVE
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_left_clicked.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
            state = ACTIVE
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_right_clicked.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
            state = ACTIVE
        }
        
        ### NORMAL
        image 
		{
			function = SLIDER
			recolorable = TRUE
			file = "scrollbar/scrollbar_horizontal.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
			orientation = HORIZONTAL
			state = NORMAL
		}
	
        image 
		{
            function = SLIDER
            recolorable = TRUE
            file = "scrollbar/scrollbar_vertical.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
            state = NORMAL
        }
        
        image 
		{
            function = BOX
            recolorable = TRUE
            file = "scrollbar/clear.png"
            border = {0, 0, 0, 0}
            stretch = TRUE
            state = NORMAL 
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_up.png"
            overlay_stretch = FALSE
            arrow_direction = UP
            state = NORMAL
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_down.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
            state = NORMAL
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_left.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
            state = NORMAL
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_right.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
            state = NORMAL
        }
                
        ### INSENSITIVE
        image 
		{
			function = SLIDER
			recolorable = TRUE
			file = "scrollbar/scrollbar_horizontal.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
			orientation = HORIZONTAL
			state = INSENSITIVE
		}
	
        image 
		{
            function = SLIDER
            recolorable = TRUE
            file = "scrollbar/scrollbar_vertical.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
            state = INSENSITIVE
        }
        
        image 
		{
            function = BOX
            recolorable = TRUE
            file = "scrollbar/clear.png"
            border = {0, 0, 0, 0}
            stretch = TRUE
            state = INSENSITIVE
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_up.png"
            overlay_stretch = FALSE
            arrow_direction = UP
            state = INSENSITIVE
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_down.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
            state = INSENSITIVE
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_left.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
            state = INSENSITIVE
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_right.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
            state = INSENSITIVE
        }
        
        ### PRELIGHT
        image 
		{
			function = SLIDER
			recolorable = TRUE
			file = "scrollbar/scrollbar_horizontal.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
			orientation = HORIZONTAL
			state = PRELIGHT
		}
	
        image 
		{
            function = SLIDER
            recolorable = TRUE
            file = "scrollbar/scrollbar_vertical.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
            state = PRELIGHT
        }
        
        image 
		{
            function = BOX
            recolorable = TRUE
            file = "scrollbar/clear.png"
            border = {0, 0, 0, 0}
            stretch = TRUE
            state = PRELIGHT
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_up.png"
            overlay_stretch = FALSE
            arrow_direction = UP
            state = PRELIGHT
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_down.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
            state = PRELIGHT
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_left.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
            state = PRELIGHT
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_right.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
            state = PRELIGHT
        }
        
        ### SELECTED
        image 
		{
			function = SLIDER
			recolorable = TRUE
			file = "scrollbar/scrollbar_horizontal.png"
			border = {3, 3, 3, 3}
			stretch = TRUE
			orientation = HORIZONTAL
			state = SELECTED
		}
	
        image 
		{
            function = SLIDER
            recolorable = TRUE
            file = "scrollbar/scrollbar_vertical.png"
            border = {3, 3, 3, 3}
            stretch = TRUE
            orientation = VERTICAL
            state = SELECTED
        }
        
        image 
		{
            function = BOX
            recolorable = TRUE
            file = "scrollbar/clear.png"
            border = {0, 0, 0, 0}
            stretch = TRUE
            state = SELECTED 
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_up.png"
            overlay_stretch = FALSE
            arrow_direction = UP
            state = SELECTED
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_down.png"
            overlay_stretch = FALSE
            arrow_direction = DOWN
            state = SELECTED
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_left.png"
            overlay_stretch = FALSE
            arrow_direction = LEFT
            state = SELECTED
        }
        
        image 
		{
            function = ARROW
            recolorable = TRUE
            overlay_file = "scrollbar/arrow_right.png"
            overlay_stretch = FALSE
            arrow_direction = RIGHT
            state = SELECTED
        }
    }
}

widget_class "*Scrollbar*" style "scrollbar"
class "*Scrollbar*" style "scrollbar"
